.content{
    display: flex;
    height: 100%;
    font-size: 20px;
}
.content>label{
    flex:1 1 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content>input{
    flex:1 1 80%;
    font-size: 20px;
}